/* google fonts linking here */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

Position
/* ************************
****    Global CSS     ****
***************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Open Sans", sans-serif;
}
p{
    font-family: "Open Sans", sans-serif;
}
ul{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* ************
HEADER START
*************** */
/* .navbar-toggler{
    display: flex;
    justify-content: center;
    flex-basis: auto;
 } */
.nav-link,.dropdown-item{
    color: #007bff;
    font-size: 17px;
    font-weight: 400;
    transition-duration: .4s;   
}

.nav-link,.nav-link{
    color: #007bff;
    margin-left: 10px;  
}
.nav-link:hover ,.dropdown-item:hover{
    color: #00AEEF;
    cursor: pointer;
}


.menu-buttons .btn{
    padding: 12px 20px;
    border-radius: 0px;
    font-size: 16px;
    background-color: #0e72cc;
    color: white;
    line-height: 1.5;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    transition: 0.4s;
    -webkit-font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
}
.menu-buttons .btn:hover{
    background-color: #00AEEF;
    transition: 0.4s
}
.menu-buttons .btn i{
    margin-right: 5px;
 }

img{
    max-width: 100%;
    height: auto;
}
/* Navbar */
/* ************
HEADER END
*************** */
/* ********************
BANNER SECTION START
*********************** */
.banner .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
}


 .banner .container .row .content h2 {
    font-size: 45px;
    color: #0e72cc;
    line-height: 50px;
    font-weight: 700;
 }
 .banner .container .row .content p{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 22px;
    color: #0e72cc;
    line-height: 28px;
    font-weight: 300;
 }

 .banner .container .row .content .intro-button{
    background-color: #0e72cc;
    color: #fff;
 }

 /* hover section */

 .banner .container .row .content .intro-button:hover{
    background-color: #00AEEF;
    color: #fff;
 }
 /* ********************
BANNER SECTION END
*********************** */

